/* gen */
body {
    margin: 0 300px;
    background-color: rgb(19, 19, 19);
    font-family: roboto, fantasy;
    max-width: 100%;
}
button {
    background-color: #3882f6;
}
img {
    max-width: 100%;
    
}
.pic-auto {
    
}
.container {
    display: flex;
    flex-direction: column;

}
.page-1,
.page-2,
.page-3,
.page-4,
footer {
    padding: 0 250px;
}
input {
    min-width: 300px;
    font-size: 30px;
    
}


/* page 1 code */
.page-1{
    background-color: #1f2937;
}
li {
    margin: 0 15px;
}
ul {
    margin: 0;
    list-style: none;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}
.logo-name {
    display: flex;
    font-size: 24px;
    color: #f9faf8;

}
.links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}
.logo-img {
    width: auto;
    height: 24px;
    padding: 0 10px;
}
.sec-1 {
    display: flex;
    padding: 100px 0;
    flex: 1 1 0; 
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.main-txt-king {
    display: flex;
    flex-direction: column;
    flex: 1 1 1;
}
.main-txt {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    margin: 0;
    padding: 0;
}
.sub-txt {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    margin: 5px 0;
    padding: 0;

}

.osmo-main {
    display: flex;
    flex: 3 1 1;
    width: 1200px;
}
.king {
    padding: 10px;
    width: 200px;
    border-radius: 15px;
    border-style: none;
}
/* end page 1 */

/*page 2 */
.page-2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.page-2-txt {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}
.page-2-combos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.combo {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.combo > p {
    max-width: 200px;
}
.combo-img {
    border: 6px solid #3882f6 ;
    border-radius: 15px;
    flex: 1 1 1;
    max-width: 200px;
}
/* page 2 end */

/* page 3 start */
.page-3 {
background-color: #e5e7eb;
}
.quote-credit {
    margin: 150px;
    display: flex;
    flex-direction: column;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0;
    
}
.credit {
    font-size: 22px;
    font-weight: 800;
    align-self: end;
    margin: 0;
}
/* page 3 end */

/* page 4 start */
.page-4 {
    background-color: white;
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 30px;
}
.claim-osmo {
    display: flex;
    background-color: #3882f6;
    padding: 25px;
    border-top-right-radius: 15px;
    border-start-start-radius: 15px;
    justify-content: space-evenly;
    align-items: center;

}
.claim-osmo-left {
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.call,
.call-sub {
    text-align: center;
    color: #e5e7eb;
}
.call-sub {

}
.call,
.call-sub {
    padding-left: 15px;
}
.claim-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.button-rain {
    border-color: white;
    padding: 5px 10px;
    font-size: 35px;
}
.claim-bottom {
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 15px;
    padding-bottom: 25px;
}
.claim {

}
.public {
}
.claim-bottom > input {
}

footer {
    background-color: #1f2937;
    padding: 50px 0;
    color: #f9faf8;
    display: flex;
    justify-content: center;

}
